@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@source "../HTML/*.html";
@source "../Javascript/*.js";

@theme {
  /* Brand */
  --color-primary: #006c49;
  --color-secondary: #3b82f6;
  --color-tertiary: #fc7c78;
  --color-navigation: #2170e4;
  --color-navigation-aside: #eef6ee;
  --color-main: #f4f4f5;

  /* Semantic */
  --color-success: #016d4a;
  --color-warning: #a43a3a;
  --color-error: #ef4444;

  /* Neutral */
  --color-neutral: #e3eae3;
  --color-neutral-2: #eef6ee;

  /* Typography */
  --font-sans: "Inter", sans-serif;

  /* border color */
  --border-mainColor: #bbcabf;
}

@layer base {
  body {
    @apply font-sans;
  }
}
